@font-face {
  font-family: "iconfont"; /* Project id 4434994 */
  src: url('iconfont.woff2?t=1707732635951') format('woff2'),
       url('iconfont.woff?t=1707732635951') format('woff'),
       url('iconfont.ttf?t=1707732635951') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yun:before {
  content: "\eb2c";
}

.icon-youjian:before {
  content: "\e624";
}

.icon-jiantou:before {
  content: "\e614";
}

